# Apache - directory config file

AddDefaultCharset utf-8
AddCharset utf-8 .html .txt .perl

Options +Indexes
IndexOptions +NameWidth=*
ReadmeName README

# README is returned as text/plain anyway, but this is needed to
# make it show up in the directory listing.
#
<Files "README">
ForceType 'text/plain'
</Files>
